*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  
}

.App {
  text-align: center;
  font-size: 1.6rem;
  height: 150vh;
  
}

.header{
  &-logo{
    width: 60vw;
    margin: 5rem 0;
  }

  &-title{
    font-size: 5rem;
    padding: 4rem;
    width: 100%;
  }
  &-subtitle{
    transform: translateY(-2.5rem)
  }
}

.quote{
  &-list{
  padding: 2rem;
  margin: 0 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  transition: 500ms;
  }

  &-item {
  list-style: none;
  padding: 2rem;
  margin: 0.5rem 1rem;
  background: white;
  border: 0.25rem solid black;
  border-radius: .4rem;
  display: grid;
  place-items: center;
  transition: all 500ms;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.1));

  &-character {
    place-self: end;
  }
  }

  &-item-text {
  font-style: italic;
  font-weight: 600;
  padding-bottom: 1rem;
  transition:all 500ms;
  }
}



.form{

  width: 100%;

  &-button {
  background: black;
  color: white;
  border: none;
  border-radius: .5rem;
  padding: 1rem 3rem;
  font-weight: 600;
  transition: 200ms;

  &:hover{
    background: dimgray;
  }
}
  &-button:active {
  background: dimgray;
  color: white;
  scale: .98;
}

}
